.movies-card {
  border-radius: 6px;
  overflow: hidden;
  background: var(--bg-02);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 203px 78px;
  transition: transform 0.2s ease-out, border-radius 0.2s ease-out;
}

.movies-card:hover {
  transform: translate(0, -6px);
  border-radius: 12px;
}

.movies-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.movies-card__description {
  padding: 16px 24px 16px 16px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 17px;
  justify-items: start;
  align-items: center;
}

.movies-card__title {
  font: 500 13px/16px 'Inter', arial, sans-serif;
  color: var(--cl-02);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movies-card__movies-button {
  width: 14px;
  height: 12px;
  background: transparent;
  background-image: url(../../images/empty-heart-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease-out;
}

.movies-card__movies-button_active {
  background-image: url(../../images/full-heart-icon.svg);
}

.movies-card__movies-button:hover {
  opacity: 0.6;
}

.movies-card__saved-movies-button {
  width: 10px;
  height: 10px;
  background: transparent;
  background-image: url(../../images/cross-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease-out;
}

.movies-card__saved-movies-button:hover {
  opacity: 0.6;
}

.movies-card__length {
  font: 400 11px/14px 'Inter', arial, sans-serif;
  color: var(--bg-09);
}

@media screen and (max-width: 800px) {
  .movies-card {
    grid-template-rows: 190px 72px;
  }

  .movies-card__description {
    padding: 14px 22px 14px 14px;
    row-gap: 15px;
  }
}

@media screen and (max-width: 460px) {
  .movies-card {
    grid-template-rows: 168px 69px;
  }

  .movies-card:hover {
    transform: translate(0, -3px);
    border-radius: 12px;
  }

  .movies-card__description {
    padding: 14px 18px 14px 14px;
    row-gap: 14px;
  }

  .movies-card__title {
    font: 500 12px/15px 'Inter', arial, sans-serif;
  }

  .movies-card__length {
    font: 400 10px/12px 'Inter', arial, sans-serif;
  }
}
