.profile {
  width: 100%;
  max-width: 410px;
  padding: 74px 0 70px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.profile__title {
  width: 100%;
  margin: 0 0 107px 0;
  font: 500 24px/29px 'Inter', arial, sans-serif;
  text-align: center;
  color: var(--white);
}

.profile__form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 46px 1px 46px auto;
  align-items: center;
  margin: 0 0 auto 0;
}

.profile__span {
  font: 500 11px/14px 'Inter', arial, sans-serif;
  color: var(--white);
}

.profile__input {
  height: 14px;
  font: 400 11px/14px 'Inter', arial, sans-serif;
  color: var(--white);
  text-align: end;
  transition: opacity 0.2s ease-out;
}

.profile__input:hover {
  opacity: 0.6;
}

.profile__input::placeholder {
  color: var(--white);
  opacity: 1;
}

.profile__separator {
  width: 100%;
  height: 1px;
  background: var(--background-light);
  grid-column-start: 1;
  grid-column-end: 3;
}

.profile__edit {
  margin: 0 0 16px 0;
  font: 400 13px/16px 'Inter', arial, sans-serif;
  color: var(--white);
  background: transparent;
  transition: opacity 0.2s ease-out;
}

.profile__edit:hover {
  opacity: 0.6;
}

.profile__signout {
  font: 500 13px/16px 'Inter', arial, sans-serif;
  color: var(--error);
  background: transparent;
  transition: opacity 0.2s ease-out;
}

.profile__signout:hover {
  opacity: 0.6;
}

.profile__submit-wrap {
  margin: auto 0 0 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.profile__submit {
  width: 100%;
  height: 45px;
  margin: auto 0 0 0;
  background: var(--accent-blue);
  font: 500 14px/17px 'Inter', arial, sans-serif;
  color: var(--white);
  border-radius: 3px;
  transition: opacity 0.2s ease-out;

  position: relative;
}

.profile__submit:hover {
  opacity: 0.6;
}

.profile__submit-error {
  width: 100%;
  margin: 0 0 20px 0;
  display: block;
  font: 400 11px/14px 'Inter', arial, sans-serif;
  text-align: center;
  color: var(--error);
  visibility: hidden;
  transition: visibility 0.2s ease-out;
}

.profile__submit-error_visible {
  visibility: visible;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 800px) {
  .profile {
    padding: 236px 0 269px 0;
  }

  .profile__title {
    margin: 0 0 80px 0;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    max-width: 100%;
    padding: 236px 30px 269px 30px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 460px) {
  .profile {
    padding: 70px 30px 40px 30px;
  }

  .profile__edit {
    font: 400 12px/15px 'Inter', arial, sans-serif;
  }

  .profile__signout {
    font: 500 12px/15px 'Inter', arial, sans-serif;
  }
}
