.about-project {
  padding: 110px 0;
}

.about-project__content-title {
  width: 1140px;
  margin: 0 auto 70px auto;
}

.about-project__description {
  width: 1140px;
  margin: 0 auto 110px auto;
  display: flex;
}

.about-project__text-column {
  margin: 0 40px 0 0;
}

.about-project__text-column:last-child {
  margin: 0;
}

.about-project__timeline {
  width: 1140px;
  height: 67px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(100px, 20%) minmax(184px, 80%);
  grid-template-rows: 36px 31px;
}

.about-project__timeline-item {
  font: 400 14px/16px 'Inter', arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-project__timeline-item:nth-child(1) {
  background: var(--accent-green);
  color: var(--black);
}

.about-project__timeline-item:nth-child(2) {
  background: var(--element-grey);
  color: var(--white);
}

.about-project__timeline-item:nth-child(3),
.about-project__timeline-item:nth-child(4) {
  color: var(--grey);
  align-self: flex-end;
}

@media screen and (max-width: 1280px) {
  .about-project__content-title {
    width: calc(100vw - (70px * 2));
  }

  .about-project__description {
    width: calc(100vw - (70px * 2));
  }

  .about-project__timeline {
    width: calc(100vw - (70px * 2));
  }
}

@media screen and (max-width: 800px) {
  .about-project {
    padding: 90px 0;
  }

  .about-project__content-title {
    width: calc(100vw - (50px * 2));
  }

  .about-project__description {
    width: calc(100vw - (50px * 2));
    margin: 0 auto 93px auto;
  }

  .about-project__text-column {
    margin: 0 30px 0 0;
  }

  .about-project__timeline {
    width: calc(100vw - (50px * 2));
  }
}

@media screen and (max-width: 460px) {
  .about-project {
    padding: 70px 0;
  }

  .about-project__content-title {
    width: calc(100vw - (18px * 2));
    margin: 0 auto 60px auto;
  }

  .about-project__description {
    width: calc(100vw - (18px * 2));
    margin: 0 auto 60px auto;
    flex-direction: column;
  }

  .about-project__text-column {
    margin: 0 0 56px 0;
  }

  .about-project__timeline {
    width: calc(100vw - (18px * 2));
    grid-template-rows: 35px 23px;
  }

  .about-project__timeline-item {
    font: 400 11px/13px 'Inter', arial, sans-serif;
  }
}
