.not-found {
}

.not-found__section {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.not-found__title {
	font: 400 140px/170px 'Inter', arial, sans-serif;
	text-align: center;
	color: var(--cl-02);
	margin: 0 auto 5px auto;
}

.not-found__subtitle {
	font: 400 16px/20px 'Inter', arial, sans-serif;
	text-align: center;
	color: var(--cl-02);
}

.not-found__back {
	font: 400 14px/17px 'Inter', arial, sans-serif;
	background: transparent;
	color: var(--ac-02);
	transition: opacity 0.2s ease-out;
	position: absolute;
	bottom: 60px;
}

.not-found__back:hover {
	opacity: 0.6;
}

@media screen and (max-width: 460px) {
	.not-found__title {
		font: 400 80px/97px 'Inter', arial, sans-serif;
	}

	.not-found__subtitle {
		font: 400 12px/15px 'Inter', arial, sans-serif;
	}

	.not-found__back {
		font: 400 12px/15px 'Inter', arial, sans-serif;
	}
}
