.movies-card-list {
  padding: 80px 0 10px 0;
}

.movies-card-list__grid {
  width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
  grid-template-rows: 281px;
  grid-auto-columns: minmax(268px, 1fr);
  grid-auto-rows: 281px;
  column-gap: 24px;
  row-gap: 37px;
}

@media screen and (max-width: 1280px) {
  .movies-card-list__grid {
    width: calc(100vw - (70px * 2));
  }
}

@media screen and (max-width: 800px) {
  .movies-card-list {
    padding: 80px 0 30px 0;
  }

  .movies-card-list__grid {
    width: calc(100vw - (30px * 2));
    grid-template-columns: repeat(auto-fill, minmax(227px, 1fr));
    grid-template-rows: 262px;
    grid-auto-columns: minmax(227px, 1fr);
    grid-auto-rows: 262px;
    gap: 30px;
  }
}

@media screen and (max-width: 460px) {
  .movies-card-list {
    padding: 50px 0 26px 0;
  }

  .movies-card-list__grid {
    width: calc(100vw - (10px * 2));
    grid-template-columns: 1fr;
    grid-template-rows: 237px;
    grid-auto-rows: 237px;
    gap: 14px;
  }
}
