.content-title__title {
  margin: 0 0 23px 0;
  font: 400 22px/26px 'Inter', arial, sans-serif;
  letter-spacing: -0.04em;
  color: var(--cl-02);
}

.content-title__separator {
  height: 1px;
  background: var(--cl-02);
}

@media screen and (max-width: 460px) {
  .content-title__title {
    margin: 0 0 28px 0;
    font: 400 18px/22px 'Inter', arial, sans-serif;
  }
}
