.nav-tab__panel {
  width: 100%;
  height: 66px;
  background: var(--background-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-tab__link {
  font: 500 13px/16px 'Inter', arial, sans-serif;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}

.nav-tab__link:hover {
  opacity: 0.6;
}

.nav-tab__link:nth-child(2) {
  margin: 0 40px;
}

@media screen and (max-width: 460px) {
  .nav-tab__link {
    font: 500 11px/16px 'Inter', arial, sans-serif;
  }

  .nav-tab__link:nth-child(2) {
    margin: 0 24px;
  }
}
