.register {
	padding: 0 0 70px 0;
}

.register__section {
	width: 410px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.register__title {
	width: 100%;
	margin: 0 0 40px 0;
	font: 500 24px/30px 'Inter', arial, sans-serif;
	text-align: left;
	color: var(--cl-02);
}

.register__form {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 44px 1px 24px 44px 1px 24px 44px 1px 24px auto;
	align-items: center;
	position: absolute;
	top: 70px;
	right: 0;
	bottom: 0;
	left: 0;
}

.register__block {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.register__label {
	font: 400 10px/12px 'Inter', arial, sans-serif;
	color: var(--bg-09);
	margin: 0 0 5px 0;
}

.register__input {
	font: 400 14px/17px 'Inter', arial, sans-serif;
	color: var(--cl-02);
	transition: color 0.2s ease-out;
}

.register__input:hover::placeholder {
	opacity: 0.8;
}

.register__input::placeholder {
	opacity: 0.6;
	transition: opacity 0.2s ease-out;
}

.register__input:focus::placeholder {
	opacity: 0.8;
}

.register__input_invalid {
	color: var(--er-01);
}

.register__separator {
	width: 100%;
	height: 100%;
	background: var(--bg-07);
}

.register__error {
	font: 400 10px/12px 'Inter', arial, sans-serif;
	color: var(--er-01);
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

.register__error_visible {
	opacity: 1;
}

.register__bottom {
	align-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.register__submit {
	width: 100%;
	height: 45px;
	margin: 0 0 30px 0;
	border-radius: 3px;
	font: 500 14px/16px 'Inter', arial, sans-serif;
	text-align: center;
	color: var(--cl-02);
	background: var(--ac-02);
	transition: opacity 0.2s ease-out, background 0.2s ease-out, color 0.2s ease-out;
}

.register__submit:hover {
	opacity: 0.6;
}

.register__submit_disabled {
	background: var(--bg-04);
	color: var(--bg-09);
	cursor: default;
}

.register__already {
	display: flex;
	justify-content: center;
	align-items: center;
}

.register__description {
	margin: 0 6px 0 0;
	font: 400 14px/16px 'Inter', arial, sans-serif;
	color: var(--bg-09);
}

.register__link {
	font: 400 14px/16px 'Inter', arial, sans-serif;
	color: var(--ac-02);
	transition: opacity 0.2s ease-out;
}

.register__link:hover {
	opacity: 0.6;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 800px) {
	.register {
		padding: 0 0 232px 0;
	}

	.register__title {
		margin: 0 0 40px 0;
	}

	.register__form {
		top: 70px;
	}
}

@media screen and (max-width: 600px) {
	.register__section {
		width: calc(100vw - (30px * 2));
	}
}

@media screen and (max-width: 460px) {
	.register {
		padding: 0 0 30px 0;
	}

	.register__title {
		margin: 0 0 80px 0;
		text-align: center;
	}

	.register__form {
		top: 110px;
	}

	.register__submit {
		margin: 0 0 14px 0;
		font: 500 12px/15px 'Inter', arial, sans-serif;
	}

	.register__description {
		font: 400 12px/15px 'Inter', arial, sans-serif;
	}

	.register__link {
		font: 400 12px/15px 'Inter', arial, sans-serif;
	}
}
