@import url(./variables/root.css);

* {
  margin: 0;
  padding: 0;
}

html {
  line-height: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  display: block;
}

div,
aside,
header,
footer,
section,
main,
form,
button {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  line-height: 0;
  border: none;
  background: transparent;
}

input:focus {
  outline: none;
}

span {
  display: block;
}
