.switch {
  position: relative;
  min-width: 36px;
  min-height: 20px;
  transition: opacity 0.2s ease-out;
}

.switch:hover {
  opacity: 0.6;
}

.switch__checkbox {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--checkbox-background-unchecked);
  border-radius: 20px;
  transition: all 0.2s ease-out;
}

.switch__slider::before {
  position: absolute;
  left: 2px;
  bottom: 2px;
  content: '';
  width: 16px;
  height: 16px;
  background: var(--checkbox-slider-unchecked);
  border-radius: 100%;
  transition: all 0.2s ease-out;
}

.switch__checkbox:checked + .switch__slider {
  background: var(--accent-green);
}

.switch__checkbox:checked + .switch__slider::before {
  transform: translate(16px);
  background: var(--white);
}

.switch__caption {
}
