.movies-bottom {
  padding: 50px 0 80px 0;
  display: flex;
  justify-content: center;
}

.movies-bottom__button {
  width: 320px;
  height: 36px;
  background: transparent;
  border: 1px solid var(--background-light);
  border-radius: 6px;
  font: 500 12px/15px 'Inter', arial, sans-serif;
  color: var(--white);
  transition: opacity 0.2s ease-out;
}

.movies-bottom__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 460px) {
  .movies-bottom__button {
    width: 240px;
  }
}
